<launch>
  <!-- wall_detect_node -->
  <node pkg="wall_detection_pkg" type="wall_detect_node" name="wall_detect_node" output="screen" />

  <!-- wall_compress_node -->
  <node pkg="wall_detection_pkg" type="wall_compress_node" name="wall_compress_node" output="screen" />

  <!-- rviz -->
  <node pkg="rviz" type="rviz" name="rviz" args="-d $(find wall_detection_pkg)/launch/wall_detection.rviz" required="false" />
</launch>
